@import '../../common/style/var';

.login{
    height: 100%;
    padding-top: 72px;
    &-logo-wrapper{
        @include flex(center, center);
        margin-bottom: 20px;
        > .login-logo{
            @include widthHeight(90px, 90px);
            vertical-align: top;
        }
    }
    &-form{
        padding: 0 40px;
        &-row{
            margin-top: 12px;
            .am-list-body, .am-list-item{
                background-color: $bg-color;
            }
            &:last-of-type{
                margin-bottom: 36px;
            }
        }
    }
    .login-submit{
        padding: 0 40px;
        .submit-signup{
            margin-bottom: 16px;
        }
    }
    .am-list .am-list-body{
        border-top: 0;
        &::before{
            height: 0;
        }
        &::after{
            height: 0;
        }
    }
}

