@import './common/style/var';

html {
    height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
    height: 100%;
    background: url('https://upload-images.jianshu.io/upload_images/9617841-3b9fb6132cc9fcd9.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240') center center no-repeat;
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.router{
    height: 100%;
    .link-button{
        margin: 6px 8px;
        @include fontLineColor(16px, 20px, #333);
    }
}